@font-face {
  font-family: "CPmono";
  src: url("CPMono_v07_Plain.woff") format('woff');
}

body {
    background-color: #000000;
	font-family:"CPmono";
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
	width:100vw;
    margin: 0;
    cursor: pointer #555; /* Change cursor to indicate clickability */
}

#timer-display {
    font-size: 15em;
    font-weight: bold;
	display: flex; /* Use flexbox to control spacing between children */
    user-select: none; /* Prevents text selection */
	line-height: 1; /*maggiore controllo sulla spaziatura verticale */
}

.separator {
    color: red;
	  margin: 0 -0.10em; /* Aggiunge un margine negativo per ridurre lo spazio */
}

/* Style for editable numbers */
#minutes, #seconds {
    display: inline;
    border-bottom: 2px solid transparent;
}

#minutes:focus, #seconds:focus {
    outline: none;
    border-bottom: 2px solid #555; /* Underline on focus */
}

.controls {
    position: absolute;
    bottom: 20px;
    right: 20px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.controls.hidden {
    opacity: 0;
    pointer-events: none; /* Impedisce il click quando è nascosto */
}

#edit-button {
    background-color: transparent;
    color: red;
    border: 2px solid red;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.5em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#edit-button:hover {
    background-color: rgba(255, 0, 0, 0.2);
}
