@font-face {
  font-family: "CPmono";
  src: url("CPMono_v07_Plain.woff") format('woff');
}

body {
    background-color: #000000;
	  font-family:"CPmono";
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100vw;
    margin: 0;
}

#timer-display {
    font-size: 15em;
    font-weight: bold;
    display: flex;
    user-select: none;
    line-height: 1; /*maggiore controllo sulla spaziatura verticale */
}

.separator {
    color: red;
	  margin: 0 -0.10em; /* Aggiunge un margine negativo per ridurre lo spazio */
}

/* Style for editable numbers */
#minutes, #seconds {
    display: inline;
    border-bottom: 2px solid transparent;
}

#minutes:focus, #seconds:focus {
    outline: none;
    border-bottom: 2px solid #555; /* Underline on focus */
}

.edit-controls {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#edit-button {
    background-color: transparent;
    border-style: none;
    margin: 5px;
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.watch-setting {
    position: absolute;
    right: 20px;
    align-items: center;
}

#timer-button {
    background-color: transparent;
    margin: 5px;
    width: 45px;
    height: 45px;
    font-style: 1.5em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lap-times-container {
/*    border: 2px solid red; */
    position: absolute;
    bottom: 20px;
    left: 20px;
    height: 250px;
    width: 130px;
}

.lap-times-container h2 {
    text-align: center;
    border-bottom: 2px solid red;
}
